<!DOCTYPE html>
<html>

<head>
    <title>NONE</title>
    <style type="text/css">
    .container {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 300px;
    }
    
    .message-box {
        position: relative;
        top: -50%;
        left: -50%;
    }
    </style>
</head>

<body>
    <div class="container">
        <div class="message-box">
            <h1>Kratos Ω</h1>
            <p>This Page Not Found..</p>
            <h3>Hope is what means us strong.It is why we are here.It is what we fight with when all else is Lost.</h3>
        </div>
    </div>
</body>

</html>
